div#content {
    text-align: center
}

h3 a:hover {
    text-decoration: none;
}

h3 a:hover::before {
    content: ">> ";
    visibility: visible;
}

h3 a:hover::after {
    content: " <<";
    visibility: visible;
}

h3:hover {
    border-bottom: none;
}

ul.org-ul {
    list-style-type: none;
    text-align: left
}

div.outline-3 p {
    font-size: 15px;
}
