@charset "utf-8";
@import url("animation.css");
/* 全局 */

@media screen and (min-width : 900px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width : 900px) {
    div#table-of-contents {
        display: none;
    }
}

html {
    font-family: "Lato", "PingFang SC", "Microsoft YaHei", "sans-serif";
    color: #555;
    background-color: #fff;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {

}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    border-bottom: 1px dashed rgb(102, 102, 102);
}

/* 全局 ends here */

/* banner部分 */

#org-div-home-and-up {
    font-size: 20px;
    line-height: 2;
    background: #000;
    text-align: center;
    /* 是否可以动态调大小 */
}

#org-div-home-and-up > nav > a > img {
    margin-top: 2%;
    height: 10%;
    width: 10%;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
}

#org-div-home-and-up > nav > a > img:hover {
    animation-name: zoom-out;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

/* #org-div-home-and-up nav ul { */
/*     text-align: right; */
/* } */

#org-div-home-and-up nav ul li {
    display: inline-block;
    text-align: right;
    padding-right: 1ch;
    list-style-type: none;
}

#org-div-home-and-up a {
    text-decoration: none;
    color: #a8aaad;
}

#org-div-home-and-up a:hover {
    text-decoration: none;
    color: #fff;
}

/* banner部分 ends here */

/* 正文部分 */

/* 正文部分 -- 全局 */
#content a {
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#content img {
    align: middle;
    max-width: 100%;
}

/* 正文部分 -- 前言 */
.abstract {
    text-align: center;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

/* 正文部分 -- 目录 */

div#table-of-contents {
    background-color: black; /* 背景颜色 */
    color: white; /*  字体颜色 */
    position: fixed;
    top: 0;
    right: -370px;
    width: 340px;
    height: 100%;

    cursor: pointer;

    transition: 0.6s all;
    z-index: 5;
    overflow: scroll;
}

div#table-of-contents a, div#table-of-contents a:hover {
    text-decoration: none;
}

div#table-of-contents:hover {
    right: -30px;
    z-index: 5;
}

/* 正文部分 -- 内容表格 */

#content #table-of-contents {
    margin-left: 2%;
    margin-right: 2%;
}

#content div[id^=outline-container] {
    margin-left: 2%;
    margin-right: 2%;
}

/* 正文部分 -- 代码块部分 */
/* 防止viewport过小导致代码超出框架 */
#content pre.src {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* 正文部分 ends here */

/* 底部部分 */

#postamble {
    border-top: 2px dashed #ccc;
    font-size: 15px;
    text-align: center;
}

/* #postamble p { */
/*     display: inline; */
/*     padding-right: 10px; */
/* } */

/* 底部部分 -- 评论部分 */
#disqus_thread {
    display: block;
}

/* 底部部分 ends here */

/* /\* #content { *\/ */
/* /\*     background-color: white; *\/ */
/* /\*     box-sizing: border-box; *\/ */
/* /\*     padding: 40px; *\/ */
/* /\*     background-image: url("../../../img/desktop.png"); *\/ */
/* /\*     background-repeat: no-repeat; *\/ */
/* /\*     background-attachment: fixed; *\/ */
/* /\*     background-size: auto auto; *\/ */
/* /\* } *\/ */

/* nav ul li { */
/*     display: inline; */
/*     padding-left: 1ch; */
/*     white-space: nowrap; */
/* } */

/* div#org-div-home-and-up { */
/*     text-align: center; */
/*     font-size: 1em; */
/*     background: #000; */
/* } */
