html {
    font-family: "Lato", "PingFang SC", "Microsoft YaHei", "sans-serif";
    font-size: 20px;
    color: #555;
    line-height: 2;
    background-color: #fff;
}

html a {
    text-decoration: none;
}

html a:hover {
    text-decoration: underline;
}

html body {
    margin: 0;
}

html body #content {
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    border-bottom: 1px dashed rgb(102, 102, 102);
}

.title {
    text-align: center;
    margin-bottom: .2em;
}

.subtitle {
    text-align: center;
    font-weight: blod;
    font-size: smaller;
    margin-top: 0;
}

.abstract {
    padding: 0 10%;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    text-align: right;
    margin-right: 2%;
}

nav ul li {
    display: inline;
    padding-left: 1ch;
    white-space: nowrap;
}

div#postamble {
    border-top: 2px dashed #ccc;
    font-size: 15px;
    text-align: center;
}

.outline-2 .outline-text-2 p {
    font-size: 15px;
}

div#org-div-home-and-up {
    text-align: center;
    font-size: 1em;
    background: #000;
}

div#org-div-home-and-up a {
    color: #a8aaad;
}

div#org-div-home-and-up a:hover {
    text-decoration: none;
    color: #fff;
}

img {
    align: middle;
    max-width: 100%;
}

pre.src {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
