* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 990px;
}

.view {
    display: flex;
    flex-wrap: wrap;
}

.view > div label {
    margin-right: 10px;
}

.view > div ~ div {
    margin-left: 20px;
}

.view > div:nth-of-type(2) > div {
    margin-top: 20px;
}

.btnPlay {
}

button {
    display: inline-block;
}

input {
    width: 60px;
}

.input-group {
    display: flex;
    margin-top: 10px;
}

.input-group > input ~ input {
    margin-left: 10px;
}
