@charset "utf-8";
@import url(media-queries.css);
@import url("animation.css");
/* 全局 */


/* 因为要保留 org-mode 自带的 margin以及 padding,这个样式重置不能使用 */
/* * { */
/*     margin: 0; */
/*     padding: 0; */
/* } */

html {
    font-family: "Lato", "PingFang SC", "Microsoft YaHei", "sans-serif";
    color: #555;
    background-color: #fff;
    overflow: hidden auto;
    font-size: 16px;
}

div#table-of-contents {
    display: none;
}

@media screen and (min-width : 640px) {
    div#table-of-contents {
        display: block;
    }
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
}

blockquote {
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    background-color: #FFF8DC;
    border-left: 0.125rem solid #ffeb8e;
    border-left-color: rgb(255, 228, 102);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2.5rem;
    margin-inline-end: 2.5rem;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    border-bottom: 0.125rem dashed rgb(102, 102, 102);
}

/* 全局 ends here */

/* banner部分 */

#org-div-home-and-up {
    line-height: 2;
    background: #000;
    text-align: center;
}

#org-div-home-and-up nav > ul {
    padding: 0;
}

#org-div-home-and-up > nav > a > img {
    margin-top: 2%;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

/* #org-div-home-and-up > nav > a > img:hover { */
/*     animation-name: zoom-out; */
/*     animation-duration: 5s; */
/*     animation-timing-function: ease-in-out; */
/* } */

/* #org-div-home-and-up nav ul { */
/*     text-align: right; */
/* } */

#org-div-home-and-up nav ul li {
    margin: auto !important;
    display: inline-block;
    text-align: right;
    padding-right: 1ch;
    list-style-type: none;
}

#org-div-home-and-up a {
    text-decoration: none;
    color: #a8aaad;
}

#org-div-home-and-up a:hover {
    text-decoration: none;
    color: #fff;
}

/* banner部分 ends here */

/* 正文部分 */

/* 正文部分 -- 全局 */
#postamble, #content {
    width: 80vw;
    margin: 1em auto;
    padding: 2rem;
    box-shadow: 0.3125rem 0.3125rem 1.25rem 0.1875rem gray;
}

#content {
    flex: 1;
}

#content a {
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#content img {
    vertical-align: middle;
    max-width: 100%;
}

/* 正文部分 -- 前言 */
.abstract {
    text-align: center;
    border-top: 0.125rem dashed #ccc;
    border-bottom: 0.125rem dashed #ccc;
}

/* 正文部分 -- 目录 */

div#table-of-contents {
    color: white; /*  字体颜色 */
    position: fixed;
    top: 0;
    left: 100vw;
    width: 23.125rem;
    height: 100%;
    cursor: pointer;
    transition: 0.6s all;
    transition-delay: 0.2s;
    z-index: 5;
    box-sizing: border-box;
}

div#table-of-contents > h2:nth-of-type(1) {
    display: none;
}

div#table-of-contents div#text-table-of-contents {
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 0 1rem;
    
}

div#table-of-contents .table-bookmark {
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    position: absolute;
    top: 3.125rem;
    left: -3.125rem;
    background: center / contain no-repeat url(../files/open-close.svg) #eee;
    transition: 0.6s transform;
    transition-delay: 0.8s;
    transform: rotate3D(0, 1, 0, 180deg);
    border-radius: 0.3125rem;
    overflow: hidden;
    box-shadow: 0.3125rem 0.3125rem 1.25rem 0.1875rem gray;
}

div#table-of-contents a, div#table-of-contents a:hover {
    text-decoration: none;
}

div#table-of-contents.open {
    left: calc(100vw - 23.125rem);
    z-index: 5;
}

div#table-of-contents.open .table-bookmark {
    transform: rotate3D(0, 1, 0, 0);
}

div#text-table-of-contents > ul {
    overflow-y: auto;
    margin: 0;
    padding: 0 0 0 1rem;
    height: 100%;
    box-sizing: border-box;
    background-color: #eee;
}

div#text-table-of-contents li {
    list-style: none;
}

div#text-table-of-contents li ~ li {
    margin-top: 0.625rem;
}

/* 正文部分 -- 内容表格 */
#content div[id^=outline-container] {
    margin: auto;
}

/* 正文部分 -- 代码块部分 */
/* 防止viewport过小导致代码超出框架 */
#content pre.src {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* 正文部分 ends here */

/* 底部部分 */

#postamble {
    text-align: center;
}

/* 底部部分 -- 评论部分 */
#disqus_thread {
    display: block;
}

#org-div-home-and-up, #postamble {
    font-size: 1rem;
}

div.figure { display: inline-block; }

.org-src-container .src {
    background-color: #333;
    color: #fff;
}

.org-src-container .src::before {
    color: #333;
}
