@charset "utf-8";

@keyframes slidein-left {
    from {
        margin-left: 2%;
    }

    to {
        margin-right:0%;
    }
}

@keyframes slidein-right {
    from {
        margin-right: 2%;
    }
    to {
        margin-right: 0%;
    }
}

@keyframes zoom-out {
    0% {
        height: 10%;
        width: 10%;
    }
    50% {
        height: 15%;
        width: 15%;
    }
    100% {
        height: 10%;
        width: 10%;
    }
}
