#content {
    text-align: center;
}

#content h3 a:hover {
    text-decoration: none;
}

#content h3 a:hover::before {
    content: ">> ";
    visibility: visible;
}

#content h3 a:hover::after {
    content: " <<";
    visibility: visible;
}

#content h3:hover {
    border-bottom: none;
}

#content h3 + div[class^="outline-text"] {
    background: black;
}

#content .outline-3 {
    /* background: yellow; */
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-style: dashed;
}
