html {
    font-size: 16px;
}

@media screen and (min-width : 640px) {
    html {
        font-size: calc(3 / 184 * 100vw + 128 / 23 * 1px);
    }
}

@media screen and (min-width: 1008px) {
    html {
        font-size: 22px;
    }
}
